*, *::after, *::before {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0px auto;
}

.center-text {
  text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin:  0;
    padding: 0;
}

button {
  background: #2196F3;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
}

button:disabled {
  background: #E3F2FD;
}

.left-align {
  display: flex;
  justify-content: flex-end;
}

/*handle keyboard navigators*/
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}